<h2>Angular Form</h2>
<form #angularForm="ngForm" (submit)="handleSubmit(angularForm)">
  <input type="text" name="content" ngModel /> 丨
  <button>Submit</button>
</form>

<h2>Angular Form Group</h2>
<form #groupForm="ngForm" (submit)="handleSubmit(groupForm)">
  <ng-container ngModelGroup="baseInfo">
    <input type="text" name="name" ngModel />丨
  </ng-container>
  <ng-container ngModelGroup="article">
    <input type="text" name="tittle" ngModel />丨
  </ng-container>
  <button>Submit</button>
</form>

<h2>Angular Form Group Valid</h2>
<form #validForm="ngForm" (submit)="handleSubmit(validForm)">
  <ng-container ngModelGroup="baseInfo">
    <input type="text" name="name" ngModel required maxlength="6" minlength="2" #name="ngModel" />丨
    <ng-container *ngIf="name.touched && name.invalid && name.errors">
      <span *ngIf="name.errors['required']">Minlength is required!</span>丨
      <span *ngIf="name.errors['minlength']">Minlength is Two length !</span>丨
    </ng-container>
  </ng-container>
  <ng-container ngModelGroup="article">
    <input type="text" name="title" ngModel required />丨
  </ng-container>
  <button [disabled]="validForm.invalid">Submit</button>
</form>

<h2>Model Drive Form</h2>
<form [formGroup]="contactForm" (submit)="handleFormSubmit()">
  <input type="text" formControlName="name" />丨
  <div *ngIf="contactName.touched && contactName.errors">
    <p *ngIf="contactName.errors['required']">Name not found</p>
    <p *ngIf="contactName.errors['minlength']">Less than 4 char</p>
    <p *ngIf="contactName.errors['cannotContainSpace']">Name cannotContainSpace</p>
    <p *ngIf="contactName.errors['shouldBeUnique']">Name shouldBeUnique</p>
  </div>
  <div *ngIf="contactName.pending">Async Validator Name</div>
  <input type="text" formControlName="hobby" />丨
  <button [disabled]="contactForm.invalid">Submit</button>
</form>

<h2>Model Drive Group Form</h2>
<form [formGroup]="contactGroupForm" (submit)="handleGroupSubmit()">
  <ng-container formGroupName="userInfo">
    <input type="text" formControlName="name" />丨
    <input type="text" formControlName="hobby" />丨
  </ng-container>

  <button>Submit</button>
</form>

<h2>Angular Form Array</h2>
<form [formGroup]="formArray" (submit)="handleArraySubmit()">
  <ng-container formArrayName="contacts">
    <div *ngFor="let contact of contacts.controls; let index = index" [formGroupName]="index">
      <input type="text" formControlName="name" /> 丨
      <input type="text" formControlName="hobby" />丨
      <input type="text" formControlName="address" />丨
      <button (click)="handleRemove(index)">Remove Item</button>
    </div>
  </ng-container>
  <button style="margin-top: 20px;" (click)="insertContact()">Insert Item</button>丨
  <button style="margin-top: 20px;">Submit</button>
</form>

<h2>Angular Form Builder</h2>
<form [formGroup]="formBuilder" (submit)="handleFormBuilderSubmit()">
  <ng-container formGroupName="fullName">
    <input type="text" formControlName="firstName" />丨
    <input type="text" formControlName="lastName" />丨
  </ng-container>
  <button>Submit</button>
</form>

<h2>Form CheckBox Radio</h2>
<form [formGroup]="checkBoxForm" (submit)="handleCheckBoxSubmit()">
  <label *ngFor="let data of checkList">
    <input type="checkbox" [value]="data.value" (change)="handleCheckBoxChange($event)" />
    {{data.title}}
  </label>
  <button>Submit</button>
</form>