<h2>Ngrx&Animation works!</h2>
<h3>Current Count: {{ (count$ | async)?.count }}</h3>
<h3>Selector Current Count: {{ selectorCount$ | async }}</h3>

<button (click)="increment()">increment</button>丨
<button (click)="decrement()">decrement</button>丨
<button (click)="incrementAsync()">incrementAsync</button>

<h2>Ngrx Todo List</h2>
<div class="wrap-container" @todoAnimations>
  <!-- <pre>{{ listData$ | async | json}}</pre> -->
  <input #input />
  <div @slide class="item" (@slide.start)="animationStart($event)" (@slide.done)="animationDone($event)"
    *ngFor="let data of listData$ | async">
    <h3>{{data.value}}</h3>
    <button (click)="reducerList(data.id)">Remove</button>
  </div>
</div>